spring:
  data:
    mongodb:
      authentication-database: admin
      database: people1
      username: root
      password: root
      auto-index-creation: false
logging:
  level:
    com.jordanec.peopledirectory: DEBUG
  path: logs/
  file: application.log
# Custom properties
people-directory:
  mongodb:
    custom-schema-validation:
      person: true
      country: true
    drop-before: false
    insert-initial-data:
      person: true
      country: true
    update-initial-data:
      person: false
      country: false